<div class="helpers accordian hide six">
	<ul style="list-style-type: circle;" class="readme five center">
		<li>Link example: ~This is a link to google~ http://google.com <br /> &nbsp; Result: <a href="http://google.com">This is a link to google.</a> </li>
		<li>Paragraphs are simple just hit return/enter and the form knows to make it a paragraph</li>
		<li>strong[these are now bold], strike[these have a line through], underline[yep!], italic[emphasis].</li>
		<li>For unordered list use an * (asterisk) before each list item, and numerical list a number.</li>
		<li>ampersands = &amp;amp; - emdash = &amp;mdash;</li>
	</ul>
</div>