<h3>Format helpers</h3>
<ul style="list-style-type: circle;" class="readme">
	<li><strong>Links: </strong>To create a link place the word(s) you would like for the link to say between ~ (tildes) followed by your web address starting with http.<br /> &nbsp; Example: ~This is a link to google~ http://google.com <br /> &nbsp; Result: <a href="http://google.com">This is a link to google.</a> </li>
	<li><strong>Paragraphs: </strong>Paragraphs are simple just hit return/enter and the form knows to make it a paragraph</li>
	<li><strong>Bold, strikethrough, italic, and underline:</strong>Just type: strong[these are now bold], strike[these have a line through], underline[yep!], italic[emphasis].<br /> &nbsp; Result: <strong>these are now bold</strong>, <span class="strike">these have a line through</span>, <span class="underline">yep</span>, <em>emphasis</em>.</li>
	<li><strong>Lists:</strong>For unordered list use an * (asterisk) before each list item, and numerical list require a number with an optional close parenthesis e.g. 1 or 1) are both valid.</li>
	<li>ampersands = &amp;amp; - emdash = &amp;mdash; (this is becasue the characters by themselves invalidate HTML code)</li>
</ul>

<h3>Form requirements</h3>
<ul style="list-style-type: circle;" class="readme">
	<li><strong>Posts: </strong>require a title only. I recommend an image and article as well.(the pages are formatted for them)</li>
	<li><strong>Feature: </strong>requires an image as well as the checkbox. I also recommend an article.</li>
	<li><strong>Productions: </strong>require a title, the checkbox and the production type. I also suggest images and an article.</li>
	<li>Any post can be any or all of the above, by default it is just a post.</li>
</ul>

<h3>Known issues</h3>
<ul style="list-style-type: circle;" class="readme">
	<li><h4 class="inline">Deleting is permanent there is no recovery</h4>, so be careful.</li>
	<li>If you submit a video and an image the video will override the image.</li>
	<li>Currently only Vimeo is supported for video. Just copy and paste a link into the form.</li>
	<li>In order to simplify the experience please refrain from using the words: strong, strike, italic or underline <span class="underline">unless format heplers.</span> <br /> &nbsp; Reason: These are reserved words.</li>
	<li>[] Square brackets are reserved and may not be use other than format heplers.</li>
</ul>